<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ezytopup.reseller">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.ezytopup.reseller.Eztytopup"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="com.ezytopup.reseller.activity.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ezytopup.reseller.activity.IntroActivityLaucher"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ezytopup.reseller.activity.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ezytopup.reseller.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.ezytopup.reseller.activity.FaqActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ezytopup.reseller.activity.TermActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ezytopup.reseller.activity.CategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ezytopup.reseller.activity.BuyProductActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ezytopup.reseller.activity.BuyResellerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ezytopup.reseller.activity.ListCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ezytopup.reseller.activity.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ezytopup.reseller.activity.SignUpActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.ezytopup.reseller.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.ezytopup.reseller.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ezytopup.reseller.activity.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ezytopup.reseller.activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ezytopup.reseller.activity.DeviceListActivity"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="com.ezytopup.reseller.activity.PrintDemo" />
        <activity
            android:name="com.ezytopup.reseller.activity.TutorialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ezytopup.reseller.activity.ContactUsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>